.about-div-wrap {
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/frog.gif');
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
}

.about-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 30vh;
    margin-right: 30vh;
}

.about-div-tools {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1vh;
}
.contact-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1vh;
}

.h2-contact {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1vh;
}

.learn-link {
    color: #FFE0B2;
    &:hover {
        color: #FC9C04;
    }
}

.icon {
    width: 10vh;
    height: 10vh;
}

.icon-1 {
    width: 11vh;
    height: 11vh;
}

.icon-2 {
    width: 12vh;
    height: 12vh;
}
