.about-div-wrap {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/frog.gif');
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-div {
    height: fit-content;
    width: 90%;
    background-color: #031a25cc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
}

.about-div-tools {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1vh;
}

.h2-contact {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1vh;
}

.contact-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1vh;
}

.learn-link {
    color: #FFE0B2;
    &:hover {
        color: #FC9C04;
    }
}

.icon {
    width: 10vh;
    height: 10vh;
}

.icon-1 {
    width: 11vh;
    height: 11vh;
    transform: scale(1);
    margin-top: 0.5vh;
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.1);
        transition: 0.4s ease;
     }
}

.icon-2 {
    width: 12vh;
    height: 12vh;
    transform: scale(1.03);
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.13);
        transition: 0.4s ease;
     }
}

.icon-3 {
    width: 12vh;
    height: 12vh;
    transform: scale(1.03);
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.13);
        transition: 0.4s ease;
     }
}

@media only screen and (max-width: 600px) {
    .about-div-wrap {
        .icon {
            width: 8vh;
            height: 8vh;
        }
        width: 100%;
        object-fit: contain;
        overflow: scroll;
    }
}

@media only screen and (min-width: 601px) {
    .about-div-wrap {
        width: 100%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 768px) {
    .about-div-wrap {
        width: 100%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 992px) {
    .about-div-wrap {
        width: 100%;
        object-fit: contain;
    }
}

@media only screen and (min-width: 1200px) {
    .about-div-wrap {
        width: 100%;
        object-fit: contain;
    }
}
