.avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.avatar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.avatar-title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: rgb(3, 0, 0);
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
}

.avatar-description {
    font-size: 2rem;
    margin-bottom: 5%;
}

.avatar-contact {
    text-decoration: none;
    font-size: 1.7rem;
    background-color: #032737;
    color: #f7e8b4;
    font-weight: 600;
    padding: 5% 10%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0, 25);
    margin-bottom: 10%;
    align-self: center;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    border-style: solid;
    border-width: 2px;
    border-color: #f7e8b4;
    box-shadow: rgba(0, 0, 0, .6) 15px 28px 25px -18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 20px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.avatar-contact:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    &:hover {
        color: #f57c00;
        border-color: #f57c00;
    }
}

.avatar-contact:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.avatar-img {
    width: 50%;
    z-index: 1;
    max-width: 300px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.avatar-topBlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-width: 250px;
    top: -50px;
    left: 27vw;
    border-radius: 764px;
    background: rgba(68, 108, 182, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.avatar-bottomBlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-width: 250px;
    top: 200px;
    right: 30vw;
    border-radius: 764px;
    background: rgba(68, 108, 182, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 4000px) {
    .avatar-container {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .avatar-img {
        width: 25%;
        max-width: 300px;
    }
}

@media screen and (max-width: 830px) {
    .avatar-container {
        flex-direction: column-reverse;
    }


    .avatar-content {
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .avatar-img {
        width: 50%;
        max-width: 300px;
    }

    .avatar-contact {
        text-align: center;
    }
}
