.home-div-wrap {
    height: 90vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/koi.gif');
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1%;
}

.home-link {
    color: #FFE0B2;
        &:hover {
            color: #FC9C04;
        }
}

@media only screen and (max-width: 600px) {
    .home-div-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .home-div-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .home-div-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .home-div-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .home-div-wrap {
        width: 100%;
    }
}