.home-div-wrap {
    height: 90vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/koi.gif');
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.home-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1vh;
}

.home-link {
    color: #FFE0B2;
        &:hover {
            color: #FC9C04;
        }
}
