.projects-container {
    margin-left: 10%;
    margin-right: 10%;
}

.projects-title {
    font-size: 2.2rem;
    font-weight: 600;
}

.projects-content {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
