.projects-div-wrap {
    min-height: 100vh;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../assets/crane.gif');
}

.projects-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1vh;
}

.quizard {
    height: 15vh;
    width: 15vh;
    transform: scale(1);
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.1);
        transition: 0.4s ease;
     }
}

.project-1-hover {
    max-width: 70vh;
    transform: scaleY(0);
    transform-origin: middle;
    transition: transform 0.7s ease;
}
  
.project-1:hover .project-1-hover {
    max-width: 70vh;
    display: block;
    text-align: center;
    align-items: center;
    font-size: x-large;
    background-color: #031a25cc;
    border-radius: 15px;
    padding: 2%;
    transform: scaleY(1);
    transform-origin: middle;
}

.quizard-git-front {
    width: 12vh;
    height: 12vh;
    transform: scale(1.03);
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.13);
        transition: 0.4s ease;
     }
}

.quizard-git-back {
    width: 12vh;
    height: 12vh;
    transform: scale(1.03);
    transition: 0.4s ease;
     &:hover {
        transform: scale(1.13);
        transition: 0.4s ease;
     }
}

@media only screen and (max-width: 600px) {
    .projects-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .projects-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .projects-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .projects-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .projects-div-wrap {
        width: 100%
    }
}