.resume-div-wrap {
    height: 90vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/koi-2.gif');
}

.resume-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.qr-code {
    height: 10vh;
    width: 10vh
}

.resume-download {
    height: 5vh;
    width: 12vh;
    color: #FFE0B2;
    background-color: #031a25;
    font-size: 3vh;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    quotes: auto;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: #FC9C04;
        text-decoration: underline;
        transform: scale(1.125);
    }
}
