.resume-div-wrap {
    height: 90vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/koi-2.gif');
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.resume-div {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.resume-text {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}
.resume-actions {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 65%;
    margin-right: auto;
    padding: 1vh;
}



.qr-code {
    height: 15vh;
    width: 15vh;
    margin-right: 2vh;
}

.resume-download {
    height: 8vh;
    width: 20vh;
    color: #FFE0B2;
    background-color: #031a25;
    font-size: 4vh;
    border-radius: 10px;
    margin-left: 2vh;
    box-sizing: border-box;
    cursor: pointer;
    quotes: auto;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: #FC9C04;
        text-decoration: underline;
        transform: scale(1.125);
    }
}
