.resume-div-wrap {
    min-height: 100vh;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/koi-2.gif');
}

.resume-text {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    border-radius: 15px;
    padding: 1vh;
}


.resume-actions {
    height: fit-content;
    width: fit-content;
    background-color: #031a25cc;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2vh;
}



.qr-code {
    height: 15vh;
    width: 15vh;
    margin-right: 2vh;
}

.resume-download {
    height: auto;
    width: auto;
    color: #FFE0B2;
    background-color: #031a25;
    font-size: 4vh;
    border-radius: 10px;
    padding: 4%;
    box-sizing: border-box;
    cursor: pointer;
    quotes: auto;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: #FC9C04;
        text-decoration: underline;
        transform: scale(1.125);
    }
}

@media only screen and (max-width: 600px) {
    .resume-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .resume-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .resume-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .resume-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .resume-div-wrap {
        width: 100%
    }
}
