.footer-div {
    height: 100%;
    width: 100%;
    background-color: #031a25;
    color: #FFE0B2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5%;
}

@media only screen and (max-width: 600px) {
    .footer-div {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .footer-div {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .footer-div {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .footer-div {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .footer-div {
        width: 100%
    }
}