.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 10%;
}

.header-title {
    font-size: 3rem;
    text-decoration: none;
    color: #f7e8b4;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    display: flex;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.menu a:hover {
    color: #f57c00;
}

.header-nav-items {
    display: flex;
    gap: 10%;
    list-style-type: none;
    text-decoration: underline;
}

.about, .projects, .experience, .contact {
    color: #f7e8b4;
    text-decoration: none;
    transform: scale(1);
    transition: 0.4s ease;
}

.about:hover, .projects:hover, .experience:hover, .contact:hover {
    transform: scale(0.9);
    transition: 0.4s ease;
}

.menu-btn {
    width: 50px;
    height: 50px;
    display: none;
}

@media screen and (max-width: 830px) {
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        background: rgba(1, 32, 46, 0.95);
        padding: 24px 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px 0 0 10px;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 4;
    }

    .header-nav-items {
        margin-right: 25%;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
        transform: translateX(0);
    }
}
