.header-nav {
    height: 100%;
    width: max-content;
    background-color: #031a25;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 1%;
}

.head-image {
    display: flex;
    padding-left: 0.5%;
    padding-right: 45%;
}

.header-name {
    padding-top: 0.5%;
    padding-left: 0.5vh;
}

.fish-img {
    height: 5.5vh;
    width: auto;
    transition: 1s ease;
    &:hover {
        -webkit-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
        transition: 1s ease;    
    }
}

.head-link {
    padding-top: 0.4%;
}

.head-link .head-nav-link{
    color: #FFE0B2;
    &:hover {
        color: #FC9C04;
    }
}

@media only screen and (max-width: 600px) {
    .header-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .header-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .header-nav {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .header-nav {
        width: 100%;
    }
}
