.link-container {
    opacity: 100%;
}

.links-imgs {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.link-img1 {
    width: 40%;
    height: auto;
    transform: scale(1);
    transition: 0.4s ease;
     &:hover {
        transform: scale(0.9);
        transition: 0.4s ease;
     }
}

.link-img2 {
    width: 40%;
    height: auto;
    transform: scale(1);
    transition: 0.4s ease;
     &:hover {
        transform: scale(0.9);
        transition: 0.4s ease;
     }
}

.link-img3 {
    width: 40%;
    height: auto;
    transform: scale(1);
    transition: 0.4s ease;
     &:hover {
        transform: scale(0.9);
        transition: 0.4s ease;
     }
}

@media screen and (max-width: 2000px) {
    .link-img1 {
        width: 30%;
    }
    .link-img2 {
        width: 30%;
    }
    .link-img3 {
        width: 30%;
    }
}

@media screen and (max-width: 830px) {
    .link-img1 {
        width: 50%;
    }
    .link-img2 {
        width: 50%;
    }
    .link-img3 {
        width: 50%;
    }
}